.Rproj.user
.Rhistory
.RData
.Ruserdata
.dropbox
desktop.ini
data/
*.pdf
*.ttt
*.out
*.tex
*.docx
*.aux
*.Rproj
manuscripts/r-references.bib
r-references.bib
*.fff
manuscripts/FossilFuelMessages_files/
manuscripts/FluVaxMessages_files/
